@model Uppgift1.Models.QuizViewModel

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Tack!</title>
</head>
<body>
<div>
    <h1>Tack, @Model.Namn!</h1>
    <p>Du gillar @Model.FavoriteCandy och @Model.FavoriteSeason.</p>
</div>
</body>
</html>
